/**************** Reset CSS *****************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #838383;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: bold;
}

h2 {
    color: #474747;
    font-size: 36px;
    font-weight: 600;
}

h3 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

p {
    color: #838383;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: all 0.25s ease 0s;
}

a:hover {
    opacity: 0.8;
}

button#scrollButton {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #13135d;
    color: #fff;
  
    cursor: pointer;
    transition: all 0.25s;
  }

/**************** cookie *****************/
.cookie-overlay {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background: #fff;
  z-index: 2051;
  line-height: 20px;
  font-size: 14px;
  border-radius: 6px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  > div:first-child {
    width: 458px;
  }

  a {
    text-decoration: underline;
  }

  .close-cookies {
    cursor: pointer;
  }

  @include media-breakpoint-down(md) {
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;

    > div:first-child {
      width: auto;
    }
  }
}
